:root{
    --colorTextos: #49454567;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    background-image: url("../img/Fondos/004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.txtyboton{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.formulario{
    text-align: center;
    margin: auto;
    padding: 5% 5%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255 ,255 , 0.8);
    background-color: rgba(255, 255 ,255 , 0.8);
}

.formulario.lista{
    width: 60%;
    margin-top: 2%;
    font-size: 20px;
}

.formulario.uno{
    width: 60%;
    margin-top: 2%;
}

.formulario.unoact{
    width: 50%;
    margin-top: 2%;
}

.formulario.unoact textarea{
    min-height: 180px;
    max-height: 180px;
    min-width: 400px;
    max-width: 400px;
    border: none;
    outline: none;
}

.formulario.dos{
    flex: 30%;
    height: 100%;
    margin-left: 2%;    
}

.formulario input{
    width: 100%; 
    height: 40px;  
}

.formulario textarea{
    width: 100%; 
    height: 100%;  
}

.fo.one{
    flex: 48%;
}

.fo.two{
    flex: 45%;
    padding-left: 1%;
}

.cuerpo button{
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: white;
    margin: 1% 1% auto; 
    font-size: 20px;   
    border: none;
    outline: none;
    background-color: crimson;
    font-family: 'Josefin Sans', sans-serif;
}

.encabezado{
    padding: 2%;
    height: 40px;
    text-align: center;
    color: white;
    background-color: crimson;
}

.resultados{
    margin-top: 20px;
}

.feli{
    margin-top: 5px;
}

.filtro{
    display: block;
    padding: 1%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.filtro input{
    width: 45%;
    font-size: 16px;
}

.filtro button{
    width: 40%;    
    margin: 0;
    margin-left: 2%;
}

.flitrosNP{
    display: flex;
}

.formuFiltro{
    width: 100%;
}

/* ---------------------------------------- */

.grupo input:focus{
    outline: none;
    color: #5e5d5d;
}

.grupo input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    width: 100%;
    display: block;
    position: relative;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    transition: 0.3s ease width;
    background-color: crimson;
    left: 0;
}

.grupo input:focus~.barra::before{
    width: 100%;
}

.grupo label{
    position: absolute;
    font-size: 16px;
    bottom: 0;
    top: 10px;
    left: 5px;
    color: var(--colorTextos);
    pointer-events: none;
    transition: 0.5s ease-in-out all;
    text-shadow: none;
}

.grupo{
    margin: 8%;
    position: relative;
}

.grupo input{
    width: 100%;
    border: none;
    color: black;
    display: block;
    font-size: 16px;
    background: none;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid var(--colorTextos);
}

#txtDescripcion{
    min-height: 180px;
    max-height: 180px;
    min-width: 300px;
    max-width: 300px;
    border: none;
    outline: none;
}

.fas.fa-times{
    color: crimson;
}

.fas.fa-redo-alt{
    color: green;
}

.bo{
    cursor: pointer;
}

/* ----------------------------------------- */

.alert {
    padding-top: 2%;
    font-size: 20px;
    color: crimson;
  }
  
/* ----------------------------------------- */

@media screen and (min-width:260px) and (max-width:600px){
    #txtDescripcion{
        min-height: 180px;
        max-height: 180px;
        min-width: 180px;
        max-width: 180px;
        border: none;
        outline: none;
    }

    .formulario.lista{
        display: none;
    }

    .formulario.uno{
        width: 80%;
    }

    .formulario.dos{
        margin-top: 2%;
    }
    
    .formulario.dos{
        margin-left: 0%;    
    }

    .formulario.lista td{
        margin-top: 3%;
        width: 100px;
    }    
}

@media screen and (min-width:601px) and (max-width:1000px){
    #txtDescripcion{
        min-height: 180px;
        max-height: 180px;
        min-width: 100%;
        max-width: 100%;
        border: none;
        outline: none;
    }

    .formulario.lista{
        width: 80%;
    }

    .formulario.dos{
        margin-top: 2%;
    }

    #td8{
        margin-top: 3%;
        width: 8%;
    }

    #td10{
        margin-top: 3%;
        width: 10%;
    }

    #td20{
        margin-top: 3%;
        width: 20%;
    }

    #td80{
        margin-top: 3%;
        width: 80%;
    }
}

@media screen and (min-width:1001px){
    #td8{
        margin-top: 3%;
        width: 8%;
    }

    #td10{
        margin-top: 3%;
        width: 10%;
    }

    #td20{
        margin-top: 3%;
        width: 20%;
    }

    #td80{
        margin-top: 3%;
        width: 80%;
    }
}

