{% extends "web/Plantilla.html" %}
{% load static %}

    {% block estilos %}
        <link rel="stylesheet" href="{% static 'css/RegistroProductos.css' %}">
    {% endblock estilos %}

    {% block contenido %}
        <div class="cuerpo">

            <div class="formulario unoact">
                <h1>Actualizar Producto</h1>
                <form action="{% url 'actuali' %}" method="post" class="freg" onsubmit="return validarTodo()">
                    {% csrf_token %}
                    <div class="txtyboton">
                        <div class="fo one">
                            <div class="grupo">
                                <input type="text" value = "ID {{prod.num_pro}}" name="txtid" id="txtid" disabled = true><span class="barra"></span>
                                <label for=""></label>
                            </div>
                            <div class="grupo">
                                <input type="text" value = "{{prod.nom_pro}}" name="txtNombre" id="txtNombre"><span class="barra"></span>
                                <label for="">Nombre</label>
                            </div>
                            <div class="grupo">
                                <input type="number" value = "{{prod.sto_pro}}" name="txtstock" id="txtstock" max="999" required><span class="barra"></span>
                                <label for="">Stock</label>
                            </div>
                            <div class="grupo">
                                <input type="number" value = "{{prod.pre_pro}}" name="txtvalor" id="txtvalor" max="9999999" required><span class="barra"></span>
                                <label for="">Valor unitario</label>
                            </div>
                        </div>

                        <div class="fo two">
                            <div class="grupo">
                                <textarea type="text" name="txtDescripcion" id="txtDescripcion" cols="30" rows="10" minlength="3" maxlength="200">{{prod.des_pro}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="fo tre">
                        <button class="regi" name="accion" type="submit">Actualizar</button>
                        <button class="regi" type="button" onclick="history.back()">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock contenido %}

    {% block js %}
        <script src="{% static 'js/validacionProducto.js' %}"></script>
    {% endblock js %}