{% extends "web/Plantilla.html" %}
{% load static %}

    {% block estilos %}
        <link rel="stylesheet" href="{% static 'css/RegistroProducto.css' %}">
    {% endblock estilos %}

    {% block contenido %}
        <div class="cuerpo">

            <div class="formulario uno">
                <h1>Registrar Producto</h1>
                <form action="" method="post" class="freg" onsubmit="return validarTodo()">
                    {% csrf_token %}
                    <div class="txtyboton">
                        <div class="fo one">
                            <div class="grupo">
                                <input type="text" name="txtNombre" id="txtNombre" maxlength="120" required><span class="barra"></span>
                                <label for="">Nombre</label>
                            </div>
                            <div class="grupo">
                                <input type="number" name="txtstock" id="txtstock" max="999" required><span class="barra"></span>
                                <label for="">Stock</label>
                            </div>
                            <div class="grupo">
                                <input type="number" name="txtvalor" id="txtvalor" max="9999999" required><span class="barra"></span>
                                <label for="">Valor unitario</label>
                            </div>
                        </div>

                        <div class="fo two">
                            <div class="grupo">
                                <textarea type="text" name="txtDescripcion" id="txtDescripcion" cols="30" rows="10" minlength="3" maxlength="200">Descripción</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="fo tre">
                        <button class="regi" name="accion" type="submit" value="Registrar">Registrar</button>
                        <button class="regi" type="reset">Limpiar</button>
                    </div> 
                </form>   
                
                
                <div class="alert">
                    {{msg}}
                </div>              
                
            </div>

            <div class="formulario lista">
                <h1>Lista de productos</h1>
                
                <div class="flitrosNP">
                    <form action="{% url 'filnom' %}" method="post" class="formuFiltro">
                        {% csrf_token %}
                        <div class="filtro N">
                            <input type="text" name="txtfiltroN" id="txtfiltroN">
                            <button class="regi">Filtrar Nombre</button>
                        </div>
                    </form> 
                    <form action="{% url 'filpre' %}" method="post" class="formuFiltro">
                        {% csrf_token %}
                        <div class="filtro P">
                            <input type="number" name="txtfiltroP" id="txtfiltroP">
                            <button class="regi">Filtrar Precio</button>
                        </div>
                    </form>   
                </div>

                <table>
                    <tr class="encabezado">
                        <td id="td8">ID</td>
                        <td id="td20">Nombre</td>
                        <td id="td10">Precio</td>
                        <td id="td10">Stock</td>
                        <td id="td80">Descripción</td>
                        <td id="td20">Opciones</td>
                    </tr>

                    {% for i in productos %}
                        <tr class="resultados">
                            <td>{{i.num_pro}}</td>
                            <td>{{i.nom_pro}}</td>
                            <td>{{i.pre_pro}}</td>
                            <td>{{i.sto_pro}}</td>
                            <td>{{i.des_pro}}</td>
                            <td>
                                <a onclick="confirmar({{i.num_pro}})" class="bo"><span class="fas fa-times"></span></a>
                                <a href="{% url 'actprod' i.num_pro %}" title="Actualizar"><span class="fas fa-redo-alt"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>
    {% endblock contenido %}

    {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="{% static 'js/Confirmaciones.js' %}"></script>
        <script src="{% static 'js/validacionProducto.js' %}"></script>
    {% endblock js %}