{% extends "web/Plantilla.html" %}
{% load static %}

    {% block estilos%}
        <link rel="stylesheet" href="{% static 'css/Registro.css' %}">
    {% endblock estilos %}

    {% block contenido %}
        <div class="cuerpo cont">
            <form action="" method="post" id="form">
                {% csrf_token %}
                <h1>Contactanos</h1>
                <div class="formu">
                    <div class="formubloque uno">
                        <div class="grupo">
                            <input type="text" name="txtNombre" id="txtNombre" required><span class="barra"></span>
                            <label for="">Nombre</label>
                        </div>
                        <div class="grupo">
                            <input type="text" name="txtApellido" id="txtApellido" required><span class="barra"></span>
                            <label for="">Apellido</label>
                        </div>
                        <div class="grupo">
                            <input type="text" name="txtAsunto" id="txtAsunto" required><span class="barra"></span>
                            <label for="">Asunto</label>
                        </div>                        
                    </div>

                    <div class="formubloque dos C">

                        <div class="seleCon">
                            <label for="tipocon">Tipo de contacto</label>
                            <select name="tipocon" class="tipocon">
                                <option value="Solicitud">Solicitud</option>
                                <option value="Reclamo">Reclamo</option>
                                <option value="Sugerencia">Sugerencia</option>
                            </select>                            
                        </div>                        

                        <div class="grupo">
                            <textarea name="txtMensa" id="txtMensa" required minlength="10" maxlength="200">Mensaje</textarea>
                        </div>
                    </div>

                    <button class="regi" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    {% endblock contenido %}

