{% extends "web/Plantilla.html" %}
{% load static %}

    {% block estilos %}
        <link rel="stylesheet" href="{% static 'css/Registro.css' %}">
    {% endblock estilos %}

    {% block contenido %}
        <div class="cuerpo">
            <form action="{% url 'inises' %}" method="POST" id="form">
                {% csrf_token %}
                <h1>Iniciar Sesión</h1>
                <div class="formu">
                    <div class="formubloque uno">
                        <div class="grupo">
                            <input type="text" name="txtusu" id="txtusu" required><span class="barra"></span>
                            <label for="">Usuario</label>
                        </div>
                        <div class="grupo">
                            <input type="password" name="txtpass" id="txtpass" required><span class="barra"></span>
                            <label for="">Contraseña</label>
                        </div>                    
                        <button class="regi" type="submit">Ingresar</button>
                        
                        <div class="alert">
                            {{msg}}
                        </div>

                        <div class="opregi">
                            ¿Desea registrarse?, Presione <a href="{% url 'regi' %}">Aquí</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock contenido %}

